footer {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: $futuraMedium;
    color: $secondaryColor;
    font-size: 16px;
    font-weight: 500;
    @include tablet-breakpoint{
        flex-direction: row;
    }
    @include desktop-breakpoint {
        flex-direction: row;
    }
    p{
        letter-spacing: 0.02em;
        line-height: 1.3rem;
        text-align: center;
        margin: 1.5vw 0 1.5vw 0;
        &:nth-child(2) {
            margin: 0 10px;
        }
    }
    span {
        margin: 0 10px;
    }
}