footer {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    p {
        font-family: $poppins;
        font-size: 1XSrem;
        font-weight: 500;
        letter-spacing: 0.02em;
        line-height: 1.3rem;
        text-align: center;
        margin: 3vw 0 3vw 0;
    }
}