@mixin gallery-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
    gap: 3vw;
    img {
        max-width: 100%;
        box-shadow: -1px -1px 8px -5px rgba(0,0,0,0.75);
    }
    @media screen and (max-width: 500px) {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    }
}