main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 3vw;
    h1 {
        font-family: $poppins;
        font-size: 4rem;
        color: $secondaryColor;
        width: 100%;
        text-align: right;
        padding: 10px;
        line-height: 1.8em;
    }
    .hero-image-container {
        width: 100%;
        height: 800px;
        overflow: hidden;
        display: flex;
        align-items: center;
        img {
            max-width: 100%;
        }
    }
    .painting {
        display: grid;
        grid-template-columns: 1fr 1fr;
        height: 800px;
        overflow: hidden;
        width: 100%;
        margin: 6vw 0;
        .painting-image-container {
            width: 100%;
            overflow: hidden;
            display: flex;
            align-items: center;
            img {
                max-width: 100%;
            }
        }
        .painting-content {
            display: flex;
            flex-direction: column;
            justify-content: center;
            margin: 6vw;
            h2 {
                font-family: $poppins;
                font-size: 2.8rem;
                color: $secondaryColor;
                margin: 20px 0 20px 0;
            }
            p {
                font-family: $esteban;
                font-size: 1.5rem;
                line-height: 1.8em;
                color: $secondaryColor;
                margin: 20px 0 20px 0;
            }
            .view-gallery-link {
                background: $primaryColor;
                font-family: $poppins;
                color: $black;
                padding: 1.3em;
                font-size: 1.1rem;
                width: max-content;
                text-decoration: none;
                font-weight: 500;
                margin: 20px 0 20px 0;
                transition: background 0.25s ease-out;
                &:hover {
                    background: lighten($primaryColor, 5%);
                }
            }
        }
    }
    .drywall {
        display: grid;
        grid-template-columns: 1fr 1fr;
        height: 800px;
        overflow: hidden;
        width: 100%;
        margin: 3vw 0;
        .drywall-image-container {
            grid-column: 2;
            grid-row: 1;
            width: 100%;
            overflow: hidden;
            display: flex;
            align-items: center;
            img {
                max-width: 100%;
            }
        }
        .drywall-content {
            display: flex;
            flex-direction: column;
            justify-content: center;
            margin: 3vw;
            h2 {
                font-family: $poppins;
                font-size: 2.8rem;
                color: $secondaryColor;
                margin: 20px 0 20px 0;
            }
            p {
                font-family: $esteban;
                font-size: 1.5rem;
                line-height: 1.8em;
                color: $secondaryColor;
                margin: 20px 0 20px 0;
            }
            .view-gallery-link {
                background: $primaryColor;
                font-family: $poppins;
                color: $black;
                padding: 1.3em;
                font-size: 1.1rem;
                width: max-content;
                text-decoration: none;
                font-weight: 500;
                margin: 20px 0 20px 0;
                transition: background 0.25s ease-out;
                &:hover {
                    background: lighten($primaryColor, 5%);
                }
            }
        }
    }
}
@media screen and (max-width: 50em) {
    main {
        h1 {
            line-height: 1.4em;
            font-size: 2.8rem;
        }
        .hero-image-container {
            align-items: flex-start;
            height: auto;
            margin-bottom: 18vw;
        }
        .painting {
            grid-template-columns: 1fr;
            grid-template-rows: 1fr 1fr;
            .painting-content {
                margin: 0;
            }
        }
        .drywall {
            grid-template-columns: 1fr;
            grid-template-rows: 1fr 1fr;
            .drywall-image-container {
                grid-row: 1;
                grid-column: 1;
            }
            .drywall-content {
                margin: 0;
            }
        }
    }
}
@media screen and (max-width: 25.875em) {
    main {
        h1 {
            font-size: 2.2rem;
        }
        .painting {
            .painting-content {
                h2 {
                    font-size: 2.2rem;
                }
                p {
                    font-size: 1.1rem;
                }
            }
        }
        .drywall {
            .drywall-content {
                h2 {
                    font-size: 2.2rem;
                }
                p {
                    font-size: 1.1rem;
                }
            }
        }
    }
}