.hero {
    width: 100%;
    height: 100vh;
    background-image: url('../images/painting/IMG-7066.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: grid;
    h1 {
        font: 700 24px $futuraMedium;
        text-transform: uppercase;
        color: $secondaryColor;
        margin-left: 25px;
        align-self: center;
        margin: 0 2vw;
    }
}
.info-blocks {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 4vw 2vw;
    .painting-section {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(2, 1fr);
        align-items: center;
        justify-content: center;
        img {
            max-width: 100%;
            height: auto;
        }
        div {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            h2 {
                font: 700 24px $futuraBold;
                color: $secondaryColor;
            }
            p {
                font: 500 16px $futuraMedium;
                text-align: center;
                margin: 25px 0;
                line-height: 20px;
            }
            .page-link {
                width: -webkit-max-content;
                width: -moz-max-content;
                width: max-content;
                height: auto;
                font: 700 20px $futuraBold;
                text-transform: uppercase;
                border: none;
                background-color: $primaryColor;
                color: #3b3b3b;
                padding: 20px 10px;
                text-decoration: none;
            }
        }
        @include tablet-breakpoint {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: 1fr;
            margin-bottom: 4vw;
        }
    }
    .drywall-section {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(2, 1fr);
        align-items: center;
        justify-content: center;
        @include tablet-breakpoint {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: 1fr;
            margin-top: 4vw;
        }
        img {
            max-width: 100%;
            height: auto;
            // @include tablet-breakpoint {
            //     grid-column: 2;
            // }
        }
        div {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            @include tablet-breakpoint {
                grid-column: 1;
                grid-row: 1;
            }
            h2 {
                font: 700 24px $futuraBold;
                color: $secondaryColor;
                text-align: center;
            }
            p {
                font: 500 16px $futuraMedium;
                text-align: center;
                margin: 25px 0;
                line-height: 20px;
            }
            .page-link {
                width: -webkit-max-content;
                width: -moz-max-content;
                width: max-content;
                height: auto;
                font: 700 20px $futuraBold;
                text-transform: uppercase;
                border: none;
                background-color: $primaryColor;
                color: #3b3b3b;
                padding: 20px 10px;
                text-decoration: none;
            }
        }
    }
}
.estimates-block {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: $primaryColor;
    height: 200px;
    width: 100%;
    h2 {
        font: 700 36px $futuraBold;
        color: $secondaryColor;
    }
    .contact-link {
        width: -webkit-max-content;
        width: -moz-max-content;
        width: max-content;
        height: auto;
        font: 700 20px $futuraBold;
        text-transform: uppercase;
        border: none;
        background-color: $primaryColor;
        color: #3b3b3b;
        margin-top: 20px;
        padding: 20px 10px;
        text-decoration: none;
        background-color: #3b3b3b;
        color: #fff;
        grid-column: 2;
    }
}
