@import url('https://fonts.googleapis.com/css2?family=Esteban&family=Poppins:wght@400;500&display=swap');

$poppins: 'Poppins', sans-serif;
$esteban: 'Esteban', serif;

// colors
$primaryColor: hsl(17, 71%, 84%);
$secondaryColor: hsl(209, 87%, 24%);
$black: hsl(0, 0, 0);