@import url("https://fonts.googleapis.com/css2?family=Esteban&family=Poppins:wght@400;500&display=swap");
@import url('href="https://use.typekit.net/hzp2lbn.css"');
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after {
  content: "";
  content: none;
}

q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  display: flex;
  flex-direction: column;
  height: 100%;
}
body main {
  flex: 1 0 auto;
}
body header, body footer {
  flex: none;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 2;
  margin: 50px 25px 0 25px;
  justify-self: stretch;
  align-self: start;
}
header img {
  max-width: 100%;
  max-height: 100px;
}
header .menu {
  display: flex;
}
header .menu a {
  font-family: "futura-pt-condensed", sans-serif;
  font-size: 1rem;
  text-transform: uppercase;
  text-decoration: none;
  padding: 10px;
  color: #232c42;
}
header .hamburger-icon {
  width: 35px;
  height: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin-right: 9vw;
}
header .hamburger-icon .ham-icon {
  background-color: #232c42;
  height: 1px;
  width: 100%;
}

.hide {
  position: absolute !important;
  top: -9999px !important;
  left: -9999px !important;
}

.active .ham-icon-top {
  -webkit-animation: 0.55s forwards rotate-top;
  animation: 0.55s forwards rotate-top;
}
.active .ham-icon-bottom {
  -webkit-animation: 0.55s forwards rotate-bottom;
  animation: 0.55s forwards rotate-bottom;
}

@-webkit-keyframes rotate-top {
  from {
    transform: rotate(0) translate(0, 0);
  }
  to {
    transform: rotate(-45deg) translate(-2px, 2px);
  }
}
@keyframes rotate-top {
  from {
    transform: rotate(0) translate(0, 0);
  }
  to {
    transform: rotate(-45deg) translate(-2px, 2px);
  }
}
@-webkit-keyframes rotate-bottom {
  from {
    transform: rotate(0) translate(0, 0);
  }
  to {
    transform: rotate(45deg) translate(-2px, -3px);
  }
}
@keyframes rotate-bottom {
  from {
    transform: rotate(0) translate(0, 0);
  }
  to {
    transform: rotate(45deg) translate(-2px, -3px);
  }
}
@media screen and (max-width: 31.25em) {
  header {
    justify-content: space-between;
  }
}
footer {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-family: "futura-pt-condensed", sans-serif;
  color: #232c42;
  font-size: 1.1rem;
  font-weight: 500;
}
footer p {
  letter-spacing: 0.02em;
  line-height: 1.3rem;
  text-align: center;
  margin: 1.5vw 0 1.5vw 0;
}
footer p:nth-child(2) {
  margin: 0 10px;
}
footer span {
  margin: 0 10px;
}

.image-gallery {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
  gap: 3vw;
}
.image-gallery img {
  max-width: 100%;
}
@media screen and (max-width: 500px) {
  .image-gallery {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  }
}

.fullscreen-mobile-menu {
  width: 100%;
  height: 0;
  z-index: 1;
  position: fixed;
  left: 0;
  bottom: 0;
  overflow-x: hidden;
  background: white;
  display: flex;
  align-items: center;
  justify-content: center;
}
.fullscreen-mobile-menu .menu a {
  font-family: "Esteban", serif;
  font-size: 2.2rem;
  line-height: 1.8em;
  color: #232c42;
  text-decoration: none;
}

.height {
  height: 100%;
  transition: height 0.55s ease-in-out;
}

.remove-height {
  height: 0;
  transition: height 0.5s ease-in-out;
}

.hero {
  width: 100%;
  height: 100vh;
  background-image: url("../images/painting/IMG-7066.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: grid;
}
.hero h1 {
  font: 700 32px "futura-pt-condensed", sans-serif;
  text-transform: uppercase;
  color: #232c42;
  margin-left: 25px;
  align-self: center;
}

.info-blocks {
  display: flex;
  flex-direction: column;
  margin: 144px 85px;
}
.info-blocks .painting-section {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
  margin-bottom: 55px;
}
.info-blocks .painting-section div {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  margin-left: 156px;
  grid-column: 2;
}
.info-blocks .painting-section img {
  max-width: 100%;
  height: auto;
  align-self: center;
  justify-self: center;
  box-shadow: 0px 0px 4px 1px rgba(0, 0, 0, 0.2);
}
.info-blocks .painting-section h2 {
  font: 700 48px "futura-pt-condensed", sans-serif;
  color: #232c42;
}
.info-blocks .painting-section p {
  font: 500 20px "futura-pt-condensed", sans-serif;
  text-align: center;
  margin: 100px 0;
  width: clamp(450px, 500px, 600px);
  line-height: 30px;
  text-align: left;
}
.info-blocks .painting-section button {
  width: 183px;
  height: 47px;
  grid-column: 2;
  font: 700 20px "futura-pt-condensed", sans-serif;
  text-transform: uppercase;
  border: none;
  background-color: #e1cfc0;
  color: #3b3b3b;
}
.info-blocks .drywall-section {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
}
.info-blocks .drywall-section div {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  margin-right: 156px;
  grid-column: 1;
  grid-row: 1;
}
.info-blocks .drywall-section img {
  max-width: 100%;
  height: auto;
  align-self: center;
  justify-self: center;
  box-shadow: 0px 0px 4px 1px rgba(0, 0, 0, 0.2);
  grid-column-start: 2;
}
.info-blocks .drywall-section h2 {
  font: 700 48px "futura-pt-condensed", sans-serif;
  color: #232c42;
  text-align: right;
}
.info-blocks .drywall-section p {
  font: 500 20px "futura-pt-condensed", sans-serif;
  text-align: center;
  margin: 100px 0;
  width: clamp(450px, 500px, 600px);
  line-height: 30px;
  text-align: right;
}
.info-blocks .drywall-section button {
  width: 183px;
  height: 47px;
  grid-column: 2;
  font: 700 20px "futura-pt-condensed", sans-serif;
  text-transform: uppercase;
  border: none;
  background-color: #e1cfc0;
  color: #3b3b3b;
}

.estimates-block {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #e1cfc0;
  height: 200px;
  width: 100%;
}
.estimates-block h2 {
  font: 700 48px "futura-pt-condensed", sans-serif;
  color: #232c42;
}
.estimates-block button {
  margin-top: 20px;
  width: 183px;
  height: 47px;
  grid-column: 2;
  font: 500 20px "futura-pt-condensed", sans-serif;
  text-transform: uppercase;
  border: none;
  background-color: #3b3b3b;
  color: #fff;
}

main .contact-us-grid {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr;
}
main .contact-us-grid .contact-us-image-container {
  width: 100%;
  display: flex;
  align-items: center;
  height: 400px;
  overflow: hidden;
}
main .contact-us-grid .contact-us-image-container img {
  max-width: 100%;
}
main .contact-us-grid .contact-us-info {
  display: flex;
  flex-direction: column;
}
main .contact-us-grid .contact-us-info h1 {
  text-align: start;
  margin: 0;
  padding: 0;
}
main .contact-us-grid .contact-us-info .email-link {
  font-family: "Esteban", serif;
  font-size: 1.1rem;
  line-height: 1.8em;
  color: #232c42;
}
main .contact-us-grid .contact-us-info p {
  font-family: "Esteban", serif;
  color: #232c42;
  line-height: 1.8em;
  font-size: 1.1rem;
}

@media screen and (min-width: 50em) {
  main .contact-us-grid {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
  }
  main .contact-us-grid .contact-us-image-container {
    width: 100%;
    display: flex;
    align-items: center;
    height: 600px;
    overflow: hidden;
  }
  main .contact-us-grid .contact-us-info {
    margin: 3vw;
  }
  main .contact-us-grid .contact-us-info p {
    font-size: 1.5rem;
  }
  main .contact-us-grid .contact-us-info .email-link {
    font-size: 1.5rem;
  }
}

/*# sourceMappingURL=main.css.map */
